<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dino Game</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div id="root">
    <div id="container">
     <div id="game">
        <div id="moon"></div>
        <div id="stars"></div>
        <div id="trees_far"></div>
        <div id="trees_close"></div>
        <div id="grass"></div>
        <div id="ground"></div>
        <div id="dino"></div>
        <div id="rock"></div>
        <div id="meat"></div>
      </div>
    </div>
  </div>
  <h1 id="score">0</h1>
  <h1 id="life">0</h1>
  <script src="/static/js/script.js"></script>
</body>
</html>
