<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dino Jump</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <script src="https://unpkg.com/splitting/dist/splitting.min.js"></script>
    <script src="../static/js/myScores.js" defer></script>
</head>
<body id="myscores">
     <div class='title' id="my_scores" data-splitting="lines">
         {% if user_scores|length != 0  %}
             {% set nameList =  user_scores[0].name.split(' ') %}
                    {% for name in nameList %}
                        {{ name }}<br>
                    {% endfor %}
         {% else %}
            NO <br>
            SCORES
         {% endif %}
     </div>
     <div class="container" id="my_score_container">
        <table class="table table-bordered" id="my_scores_table">
        <thead>
         {% if user_scores|length != 0  %}
             <tr>
                 <th scope="col">Score</th>
                 <th scope="col">Time</th>
             </tr>
        {% endif %}
         </thead>
        {% for score in user_scores %}
        <tbody>
            <tr>
                <td> {{ score.score }}</td>
                <td> {{ score.time.strftime("%m/%d %H:%M") }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
     </div>
    <div class="container btns">
        <div class="link" id="link1">
            <a href="/" id="playLink">PLAY AGAIN</a>
        </div>
        <div class="link" id="link2">
            <a href="/" id="scoresLink">HIGH SCORES</a>
        </div>
    </div>
</body>
</html>