<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Presentation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <script src="../static/js/presentation.js" defer></script>
</head>
<body id="presentation">
<div class="presentation_container">
    <div id="h1">
        <h1>&ltCREATE NEW TEAM&gt</h1>
        <div id="names">
            <p>Szabi: </p>
            <p>Mate: </p>
            <p>Marci: </p>
            <p>Eszter: UI | DB</p>
        </div>
    </div>
    <div  class="inactive" id="workflow">
        <p>&ltWEEKLY WORKFLOW&gt</p>
    </div>
    <p class="inactive" id="snippets">&ltCODE SNIPPETS&gt</p>
    <p class="inactive" id="snippet1">One</p>
    <p class="inactive" id="snippet2">Two</p>
    <a class="inactive" id="presentationButton" href="/index">GAME</a>
</div>
</body>
</html>