<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Presentation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <script src="../static/js/presentation.js" defer></script>
</head>
<body id="presentation">
<!--<div id="dino">-->
<!--    <img src ="/static/images/dead_dino.png" width="700px">-->
<!--</div>-->
<div class="presentation_container">
    <div id="h1">
        <h1>&ltCREATE NEW TEAM&gt</h1>
        <div id="names">
            <p>Szabi: GAME ENGINE</p>
            <p>Máté: JUMP | MOVE </p>
            <p>Marci: ANIMATION | ENGINE  </p>
            <p>Eszter: UI | DB | SERVER</p>
        </div>
    </div>
    <div  class="inactive" id="workflow">
        <p>&ltWEEKLY WORKFLOW&gt</p>
    </div>
    <p class="inactive" id="snippets">&lt11 feature branches&gt</p>
    <table class="table inactive" id="presentation_table">
        <thead>
        <tr></tr>
        </thead>
        <tbody>
        <tr>
            <td>CSS 33.8%</td>
            <td>JavaScript 31.5%</td>
        </tr>
        <tr>
            <td>HTML 19.0%</td>
            <td>Python 15.7%</td>
        </tr>
        </tbody>
    </table>
     <pre class="inactive" id="snippet1">
let index = 0
const updateImage = function() {

    if (is_jump) {
        if (index >= jumpSprites.length) {
            index = 0;
        }
        dino.style.backgroundImage = 'url("' + jumpSprites[index] + '")';
        index++
    } else {
        if (index >= sprites.length) {
            index = 0
        }
        dino.style.backgroundImage = 'url("' + sprites[index] + '")';
        index++
    }
}
updateImage()
let interval = setInterval(updateImage, 80);
    </pre>
    <pre class="inactive" id="snippet2">
    let dinoRect = document.getElementById('dino').getBoundingClientRect();
    let meatRect = document.getElementById('meat').getBoundingClientRect();
    let rockRectangle = document.getElementById('rock').getBoundingClientRect();

    function touching(d1, d2) {
        if (d1.x < d2.x + d2.width - 100 &&
            d1.x + d1.width - 100 > d2.x &&
            d1.y < d2.y + d2.height - 100 &&
            d1.y + d1.height - 100 > d2.y) {
            return true
        } else {
            return false
        }
    }
    if (meatLeft < 0) {
        meat.style.display = 'none'
        setTimeout(() => {
            meat.style.display = 'flex';
            randomSeed = Math.floor(Math.random() * 20000);
        }, randomSeed)
    }

    t = touching(dinoRect, meatRect)
    if (t && window.hungry) {
        window.hungry = false
        meat.style.display = 'none';
        food += 1;
        life.innerText = food
        setTimeout(() => {
            meat.style.display = 'flex';
            randomSeed = Math.floor(Math.random() * 20000);
        }, randomSeed)
    }
}, 50);
    </pre>
    <a class="inactive" id="presentationButton" href="/index">GAME</a>
</div>
</body>
</html>