<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Presentation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <script src="../static/js/presentation.js" defer></script>
</head>
<body id="presentation">
<div class="presentation_container">
    <h1>&ltCREATE NEW TEAM&gt</h1>
    <p>&ltWEEKLY WORKFLOW&gt</p>
    <p>&ltCODE SNIPPETS&gt</p>
    <img src="" alt="">
    <img src="" alt="">
    <a href="/index">GAME</a>
</div>
</body>
</html>