<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>High Scores</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <script src="https://unpkg.com/splitting/dist/splitting.min.js"></script>
    <script src="../static/js/highScores.js" defer></script>
</head>
<body id="scores">
     <div class='title' id="high_scores" data-splitting="lines">
      HIGH<br/>
      SCORES
     </div>
     <div class="container">
        <table class="table table-bordered" id="scores_table">
        <thead>
             <tr>
                 <th scope="col">Name</th>
                 <th scope="col">Score</th>
                 <th scope="col">Time</th>
             </tr>
         </thead>
        {% for scores in scores_data %}
        <tbody>
            <tr>
                <td> {{ scores.name }}</td>
                <td> {{ scores.score }}</td>
                <td> {{ scores.time.strftime("%m/%d %H:%M") }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
     </div>
    <div class="container btns nouser">
        <div class="link" id="link1">
            <a href="/" id="backLink">BACK</a>
        </div>
        <div class="link inactive" id="link2">
            <a href="/scores" id="myScoresLink">MY SCORES</a>
        </div>
    </div>
</body>
</html>